html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* 
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto Condensed', sans-serif; 
*/
body{
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #242121;
}

.title{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.6px;
  color: #01353E;
  position: relative;
  text-transform: uppercase;
  text-align: center;
}

.title::after{
  content: '/';
  position: absolute;
  font-weight: 600;
  font-size: 72px;
  line-height: 85px;
  letter-spacing: 0.6px;
  color: #00B2A0;
}

.container{
  max-width: 1200px;
  /* padding: 0 10px; */
  margin: 0 auto;
}

.fade{
  animation-name: fade; 
  animation-duration: 1.5s;
}
@keyframes fade{
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.header{
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto auto;
  margin-bottom: 190px;
  position: relative;
}

.header__top{
  margin-bottom: 200px;
}

.header__top-inner{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu{
  margin: 0 auto;
}

.menu__list{
  display: flex;
}

.menu__list-link{
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.6px;
  color: #FFF;
}

.menu__list-link:hover{
  border-bottom: 1px solid #00B2A0;
}

.menu__list-item+.menu__list-item{
  margin-left: 45px;
}

.burger{
  display: none;
  position: absolute;
  cursor: pointer;
  top: 40px;
  right: 20px;
}

.burger__stick{
  display: block;
  width: 40px;
  height: 5px;
  border-radius: 4px;
  margin-bottom: 7px;
  background-color: #000;
}

.header-content-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title{
  font-size: 200px;
  line-height: 235px;
  letter-spacing: 0.6px;
  color: #0D302C;
  text-transform: uppercase;
}

.header__subtitle{
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.6px;
  color: #000000;
  margin-bottom: 315px;
}

.header__icon{
  margin-bottom: 92px;
}

.about{
  background-color: #FFFFFF;
}

.about__inner{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__title{
  margin-bottom: 96px;
}

.about__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 200px;
}

.about__text p{
  max-width: 480px;
  margin-bottom: 30px;
  margin-right: 120px;  
}

.school{
  background-color: #F8F8F8;
}

.school__title{
  padding: 200px 0 100px;
  text-align: center;
}

.school__inner{
  padding-bottom: 170px;
}

.school__items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 105px;
}

.school__item-title{
  font-size: 24px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #242121;
  padding-bottom: 10px;
  position: relative;
  text-align: center;
}

.school__item-title::before{
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
}

.school__item-title-fly, .school__item-title-learn {
  line-height: 28px;
}

.school__item-title-life{
  line-height: 2;
  margin-bottom: 10px;
}

.school__item-title-life::before{
  width: 55px;
  background-image: url('../img/life.svg');
  left: 35px;
}

.school__item-title-fly::before{
  background-image: url('../img/fly.svg');
  left: 55px;
}

.school__item-title-learn::before{
  background-image: url('../img/learn.svg');
  left: 45px;
}

.school__item-text{
  max-width: 350px;
}

.school__info-inner{
  display: flex;
  justify-content: space-between;
}

.school__info{
  width: 350px;
  margin-right: 255px;
  margin-top: 10px;
  flex: none;
}

.school__info-item{
  position: relative;
  height: 43px;
}

.school__info-item::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
}

.school__info-item h5{
  font-size: 24px;
  line-height: 18px;
}

.item-85 h5{
  margin-left: 210px
}

.item-95 h5{
  margin-left: 257px
}

.item-99 h5{
  margin-left: 303px
}

.item-85::before{
  width: 200px;
  background-image: url('../img/85.svg');
}

.item-95::before{
  width: 247px;
  background-image: url('../img/95.svg');
}

.item-99::before{
  width: 293px;
  background-image: url('../img/99.svg');
}

.school__text{
  max-width: 600px;
}

.school__text p{
  margin-bottom: 30px;
}

.peaks{
  background-image: url('../img/peaksBg.jpg');
  background-repeat: no-repeat;
  background-position: right 0;
  background-size: 50% 90%;
  padding-bottom: 300px;
}

.peaks__inner{
  max-width: 510px;
}

.peaks__title{
  white-space: nowrap;
  padding: 200px 90px 100px 0;
}

.peaks__text p{
  margin-bottom: 30px;
}

.gallery{
  padding-bottom: 200px;
}

.gallery__top{
  display: flex;
  flex-direction: column;
}

.gallery__title{
  text-align: center;
  margin-bottom: 210px;
}

.gallery__filter-btn{
  margin-bottom: 50px;
}

.gallery__btn{
  font-size: 24px;
  font-weight: normal;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0;
  margin-right: 20px;
}

.active-btn{
  color: #00B2A0;
}

.gallery__btn:hover{
  color: #00B2A0;
}

.gallery__content{
  display: flex;
  flex-wrap: wrap;
}

.gallery__item-1{
  margin-bottom: 40px;
  margin-right: 40px;
}

.gallery__item-2{
  margin-bottom: 40px;
  margin-right: 40px;
}

.gallery__item-3{
  margin-bottom: 40px;
}

.gallery__item-4{
  margin-right: 40px;
}

.gallery__item-5{
  margin-right: 40px;
}

.gallery__item img {
  width: 100%;
}

.gallery__more{
  margin-top: 73px;
  margin-bottom: 227px;
  text-align: center;
}

.gallery__more-link{
  font-weight: normal;
  font-size: 24px;
  text-transform: uppercase;
  color: #242121;
  padding: 23px 91px 24px 91px;
  border: 1px solid #C4C4C4;;
}

.blockquote{
  padding: 81px 0 80px;
  background-color: #F8F8F8;
  font-style: italic;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 203px;
}

.blockquote__inner{
  margin: 0 auto;
  text-align: center;
  max-width: 732px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}

.blockquote p{
  max-width: 585px;
}

.blockquote span {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}

.gallery__video{
  height: 600px;
  background-image: url('../img/video-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.gallery__video-numbers{
  display: flex;
  justify-content: center;
  text-align: center;
}

.gallery__numbers-item{
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  color: #01353E;
  margin-right: 100px;
}

.gallery__numbers-item:last-child{
  margin-right: 0;
}

.gallery__numbers-item span {
  display: block;
  margin-top: 5px;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #242121;
}

.slider-blog{
  margin-bottom: 200px;
}

.slider-blog-title{
  text-align: center;
  margin-bottom: 230px;
}

.slider-blog__bg{
  background: linear-gradient( rgba(36, 33, 33, 0.5), 
  rgba(36, 33, 33, 0.5)), url('../img/slider-bg.jpg');
  -webkit-background-size: cover;
  -moz-background-size:  cover;
  -o-background-size: cover;
  background-size: cover;
  height: 800px;
}

.slider-blog__item{
  margin-top: 54px;
  padding: 260px 0;
}

.slider-blog__title{
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  max-width: 600px;
  margin-left: auto;
}

.slider-blog__link{
  color: #FFFFFF;
}

.slider-blog__text{
  max-width: 410px;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  transform: translateX(147%);
}

.slick-dots{
  display: flex;
  justify-content: center;
}

.slick-dots li + li{
  margin-left: 15px;
}

.slick-dots .slick-active button{
  background-color: #00B2A0;
}

.slick-dots button{
  font-size: 0;
  padding: 0;
  background-color: #FFFFFF;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.team{
  padding-bottom: 205px;
}

.team__title{
  /* text-align: center; */
  margin-bottom: 210px;
}

.team__items{
  display: flex;
  justify-content: space-between;
}

.team__item{
  text-align: center;
}

.team__item-img{
  margin-bottom: 25px;
}

.team__item-name{
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.6px;
  margin-bottom: 5px;
}

.team__item-descr{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.6px;
}

.pricing{
  background: #F8F8F8;
  padding: 200px 0;
}

.pricing__title{
  margin-bottom: 185px;
}

.pricing__items{
  display: flex;
  justify-content: space-between;
}

ul.pricing__item{
  width: 360px;
  height: 577px;
  background-color: #FFFFFF;
  padding: 45px 40px;
  position: relative;
}

.pricing__item li{
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #242121;
}

.pricing__item-pac{
  display: inline-block;
  margin-bottom: 38px;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: #01353E;
}

.pricing__item-li{
  text-align: center;
}

.pricing__item .pricing__item-num{
  position: absolute;
  margin: 0 100px 45px 102px;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: #01353E;
  bottom: 0;
}

.pricing__item-num sup{
  margin-left: 3px;
  font-size: 18px;
  line-height: 22px;
  vertical-align: middle;
}

.submit{
  display: flex;
  flex-direction: column;
  padding-bottom: 200px;
}

.submit__map{
  height: 640px;
  background-image: url('../img/map-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
  margin: 200px 0;
}

.submit__title{
  margin-bottom: 245px;
}

.submit__inner{
 display: flex;
}

.form{
  width: 570px;
  margin-right: 30px;
  margin-bottom: 200px;
}

.form__phone{
  padding-top: 35px;
}

.form input,
.form textarea{
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #DADADA;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.form input::placeholder,
.form textarea::placeholder{
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #00B2A0;
}

.form textarea {
  padding-top: 50px;
  min-height: 200px;
  resize: none;
}

.form button{
  margin-top: 70px;
  padding: 24px 111px 23px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #242121;
  background-color: #fff;
  border: 1px solid #C4C4C4;
}

.submit__question{
  background-color: #F8F8F8;
  width: 600px;
  height: 460px;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.6px;
  color: #242121;
}

.submit__question p{
  margin-bottom: 65px;
  padding-left: 50px;
}

.submit__question p:first-child{
  padding-top: 50px;
}

.submit__contact{
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 18px;
  letter-spacing: 0.6px;
  
}

.submit__contact-link{
  color: #242121;
}

.submit__contact-link-f{
  color: #00B2A0;
}

.footer{
  background-color: #00B2A0;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}



@media (max-width: 790px){
  .container{
    max-width: 700px;
  }
  .title::after {
    font-size: 35px;
    line-height: 45px;
  }
  .header {
    margin-bottom: 50px;
  }
  .menu__list{
    display: none;
    flex-direction: column;
    position: fixed;
    top: 20px;
    right: 0;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, .9);
  }
  .menu__list-item{
    padding: 30px;
  }
  .burger{
    display: block;
    border: none;
    background-color: transparent;
  }
  .logo{
    margin-top: 30px;
    margin-left: 100px;
  }
  .header__title {
    font-size: 110px;
    line-height: 200px;
  }
  .header__subtitle {
    font-size: 16px;
    line-height: 22px;
  }
  .about__text p {
    max-width: 450px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 0;
  }
  .about__text {
    margin-bottom: 50px;
  }
  .title {
    font-size: 33px;
    line-height: 37px;
  }
  .school__title {
    padding: 100px;
  }
  .school__items{
    flex-direction: column;
  }
  .school__item{
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
  }
  .school__info{
    max-width: 340px;
  }
  .school__info-inner{
    flex-direction: column;
    margin-left: 20px;
  }
  .school__info-item{
    margin-bottom: 20px;
  }
  .school__text p{
    max-width: 450px;
    font-size: 20px;
    line-height: 30px;
  }
  .peaks{
    background-image: none;
    margin-left: 20px;
    padding-bottom: 100px;
  }
  .peaks__title {
    font-size: 21px;
    padding: 80px 0 50px;
    white-space: normal;
  }
  .peaks__text p {
    max-width: 450px;
  }
  .gallery__title {
    margin-bottom: 80px;
  }
  .gallery{
    margin-left: 20px;
    padding-bottom: 100px;
  }
  .gallery__content{
    display: block;
  }
  .gallery__item {
    max-width: 600px;
    margin-bottom: 10px;
  }
  .gallery__item img {
    max-width: 400px;
  }
  .gallery__more{
    margin-bottom: 70px;
  }
  .blockquote{
    max-width: 450px;
    margin-bottom: 70px;
  }
  .gallery__video{
    max-width: 450px;
  }
  .gallery__video-numbers{
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .slider-blog-title{
    margin-bottom: 100px;
  }
  .slider-blog{
    max-width: 450px;
    margin-left: 20px;
    margin-bottom: 100px;
  }
  .team{
    padding-bottom: 100px;
  }
  .team__title{
    margin-bottom: 100px;
  }
  .team__items{
    flex-direction: column;
    align-items: center;
  }
  .team__item{
    margin-bottom: 25px;
  }
  .pricing{
    max-width: 450px;
    padding: 100px 0;
  }
  .pricing__title{
    margin-bottom: 100px;
  }
  .pricing__items{
    flex-direction: column;
    align-items: center;
  }
  .pricing__items .pricing__item {
    margin-bottom: 15px;
  }
  .submit__map{
    max-width: 450px;
    margin: 50px 0;
  }
  .submit__title{
    max-width: 320px;
    margin-bottom: 100px;
  }
  .form{
    max-width: 570px;
    margin-bottom: 40px;
  }
  .submit__question{
    max-width: 450px;
    margin-bottom: 70px;
  }
  .submit__inner{
    max-width: 300px;
    flex-wrap: wrap;
    margin-left: 20px;
  }
  .submit{
    padding-bottom: 80px;
  }
  .form button {
    padding: 18px 80px 18px;
  }
  .submit__contact {
    max-width: 450px;
  }
  .footer {
    max-width: 100%;
  }
}

@media (max-width: 322px){
  .menu__list{
    top: 60px;
    right: 10px;
  }
  .title {
    font-size: 20px;
    line-height: 25px;
  }
  .header {
    margin-bottom: 50px;
  }
  .header__title {
    font-size: 90px;
    line-height: 100px;
  }
  .header__subtitle {
    font-size: 14px;
    line-height: 18px;
  }
  .about__text p {
    max-width: 320px;
  }
  .about__text {
    margin-bottom: 50px;
  }
  .school__title {
    padding: 50px;
  }
  .school__info-item{
    max-width: 320px;
  }
  .item-85::before {
    width: 180px;
  }
  .item-85 h5 {
    margin-left: 185px;
  }
  .item-95::before {
    width: 225px;
  }
  .item-95 h5 {
    margin-left: 230px;
  }
  .item-99::before {
    width: 240px;
  }
  .item-99 h5 {
    margin-left: 244px;
  }
  .school__item-text {
    max-width: 300px;
  }
  .school__text p {
    max-width: 295px;
    font-size: 17px;
  }
  .peaks__text p {
    max-width: 280px;
  }
  .gallery__item img {
    max-width: 259px;
  }
  .gallery__more-link {
    font-size: 10px;
    padding: 18px 58px 18px 58px;
  }
  ul.pricing__item {
    max-width: 280px;
    padding: 40px 5px;
  }
  .submit__map {
    max-width: 290px;
  }
  .school__info{
    max-width: 300px;
  }
  .blockquote p {
    max-width: 245px;
  }
  .blockquote {
    max-width: 284px;
  }
  .gallery__video {
    max-width: 284px;
  }
  .gallery__video-numbers {
    flex-direction: column;
  }
  .slider-blog {
    max-width: 285px;
    margin-left: 10px;
    margin-bottom: 50px;
  }
  .slider-blog__title {
    font-size: 20px;
    line-height: 25px;
    max-width: 300px;
    margin-left: auto;
  }
  .team__item-img {
    max-width: 280px;
  }
  .pricing {
    max-width: 300px;
    padding: 50px 0;
  }
  .form {
    max-width: 300px;
  }
  .form button {
    margin-top: 60px;
    padding: 18px 70px 18px;
    font-size: 22px;
    line-height: 17px;
  }
  .submit__question {
    max-width: 290px;
  }
  .submit__question p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 25px;
  }
  .submit {
    padding-bottom: 50px;
  }
  .submit__contact {
    max-width: 300px;
  }
  .submit__inner {
    max-width: 300px;
  }
  .submit__contact-link {
    line-height: 30px;
  }
  .footer {
    max-width: 320px;
  }
}

.menu__list_active{
  display: flex;
}